<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Actors</title>
    <link rel="stylesheet" href="/stylesheets/foundation.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css"  />
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Movie Database </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/actors">Actors</a></li>
          <li><a href="/movies">Movies</a></li>
        </ul>
      </div>
    </div>

    <div class="row column">
      <%= yield %>
    </div>


  </body>
</html>
